@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <h3>Hello @context.User.Identity.Name</h3>
        <h3>Authentication Type : @context.User.Identity.AuthenticationType</h3>
        <h3>Is Authenticated : @context.User.Identity.IsAuthenticated</h3>
        @foreach (var claim in @context.User.Claims)
        {
            <h3>@claim.ValueType : @claim.Value </h3>

        }

    </Authorized>
</AuthorizeView>