@page "/maindoctorpage/{Id}"
@layout MainLayoutDoctor
@inject IAdminService _adminservice
<div class="backgroundimgOfPage">
</div>
<div class="container-lg main_container">
    <div class="containerofimage">
        @if (!string.IsNullOrEmpty(doctorDTO.CoverImage))
        {
            <img src="@doctorDTO.CoverImage" class="img" />
        }
        else
        {
            <img src="assets/images/halfdoctor.jpeg" class="img" />
        }

        <div class="profileimage">
            @if (!string.IsNullOrEmpty(doctorDTO.Image))
            {
                <img src="@doctorDTO.Image" class="img" style="border-radius: 50%;" />
            }
            else
            {
                <i class="bi bi-person-circle" style="color: #ff838a;"></i>
            }
        </div>
        <div class="divOfName">
            <h4><b>@doctorDTO.FirstName  @doctorDTO.LastName</b></h4>
            <h5><b>@doctorDTO.categoryDTO.Name</b></h5>
        </div>
    </div>
    <div class="body2">
        <div class="containerofcntent">
            <div class="subcontainerofcntent">
                @if (!string.IsNullOrEmpty(doctorDTO.Discription))
                {
                    <div>
                        <h2><b>نبذة:</b></h2>
                        <p class="discription"><b style="color: #999ea3;">@doctorDTO.Discription</b></p>
                    </div>
                }

                <div>
                    <div class="flexrow" style="margin-right: -.5%;">
                        @if (!string.IsNullOrEmpty(doctorDTO.PhoneNumber))
                        {
                            <i class="fas fa-phone-alt icon" style="color: #999ea3;"></i>
                            <h6><b>@doctorDTO.PhoneNumber</b></h6>
                        }

                        <div class="links">
                            @if (!string.IsNullOrEmpty(doctorDTO.FaceBook))
                            {
                                <a href="@doctorDTO.FaceBook"><i class="bi bi-facebook icon pointer"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(doctorDTO.Email))
                            {
                                <a href="@doctorDTO.Email"><i class="bi bi-envelope-at icon pointer"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(doctorDTO.Instgram))
                            {
                                <a href="@doctorDTO.Instgram"><i class="bi bi-instagram icon pointer"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(doctorDTO.WhatsUpNumber))
                            {
                                <a href="@doctorDTO.WhatsUpNumber"><i class="bi bi-whatsapp icon pointer"></i></a>
                            }
                        </div>
                    </div>
                    @if (doctorDTO.Age != 0)
                    {
                        <div class="flexrow" style="margin-right: -.5%;">
                            <i class="fa-solid fa-calendar-days icon" style="color: #999ea3;"></i>
                            <h6><b>@doctorDTO.Age</b></h6>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(doctorDTO.Address))
                    {
                        <div class="flexrow" style="margin-right: -.5%;margin-bottom: 2rem;">
                            <i class="fa-solid fa-location-dot icon" style="color: #999ea3;"></i>
                            <h6><b>@doctorDTO.Address</b></h6>
                        </div>
                    }

                </div>

                <Map />

                <div class="divOfswitchbutton">
                    <a class="switch" @onclick="() => Switch(false)" style="border-left: 1px solid;"><b>الخدمات</b></a>
                    <a class="switch" @onclick="() => Switch(true)"><b>المنشورات</b></a>
                </div>

                @if (SwitchPosts_Service)
                {
                    <DoctorPosts DoctorDTO="@doctorDTO" />
                }
                else
                {
                    <ServiceOfDoctor Id="@doctorDTO.Id" />
                }
                <br /><br />
            </div>
        </div>
    </div>
</div>
@code {
    [Inject]
    public IJSRuntime jSRuntime { get; set; }
    [Inject]
    public IAdminService adminService { get; set; }
    [Inject]
    public IServicesService servicesService { get; set; }
    [Parameter]
    public string Id { get; set; }

    public DoctorDTO doctorDTO { get; set; } = new DoctorDTO();
    public bool SwitchPosts_Service { get; set; } = true;

    protected override async void OnInitialized()
    {
        doctorDTO = await adminService.getDoctorbyid(Id);
        UpdateDoctorAds doctordto = new UpdateDoctorAds()
            {
                Id = doctorDTO.Id,
                VisitedDoctorPage = DateTime.Now,
                EndSubscriptionDate = doctorDTO.EndSubscriptionDate
            };
        adminService.UpdateDoctorAds(doctordto);

        StateHasChanged();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jSRuntime.InvokeVoidAsync("checkEndOfContainer");
        }
    }

    private void Switch(bool switchposts_service)
    {
        SwitchPosts_Service = switchposts_service;
    }
}