@page "/addNewAdmin"
@inject IAdminService _adminService
@layout MainLayoutAdmin


@* <h1>@claimsPrincipal.Identity.Name</h1> *@
@* <h1>@ClaimsPrincipal.Current.Identity.Name</h1>
 *@

<div class="main-container">
    <h1 class="h3 mb-0 fw-bold text-center color-text form-title">
        إضافة أدمن جديد
    </h1>
    <div class="container-signup">
        @* <div class="row"> *@
        <EditForm Model="@adminRegiterationDTO" class="add-doctor-form row" style="direction:rtl" OnValidSubmit="RegisterNewAdmin" OnInvalidSubmit="ShowInvalidModal">
            <DataAnnotationsValidator />
            <div class="col-lg-6 col-sm-12 form-first-col">
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold"> الإسم الأول  </label>
                        <InputText id="fname"
                        @bind-Value="@adminRegiterationDTO.FirstName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأول" />
                        <i class="fas fa-user icon"></i>

                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.FirstName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div> 
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold"> الإسم الأخير  </label>
                        <InputText id="lname"
                        @bind-Value="@adminRegiterationDTO.LastName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأخير" />
                        <i class="fas fa-user icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.LastName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold"> إسم المستخدم</label>
                        <InputText id="user-name"
                        @bind-Value="@adminRegiterationDTO.UserName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل إسم المستخدم" />
                        <i class="fas fa-user icon"></i>

                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.UserName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold"> الإيميل</label>
                        <InputText id="email"
                        @bind-Value="@adminRegiterationDTO.Email"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأخير" />
                        <i class="fas fa-envelope icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Email)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="inputPassword" class="fw-bold"> رقم الهاتف </label>
                        <InputText type="password" id="ConPassword"
                        @bind-Value="@adminRegiterationDTO.PhoneNumber"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل رقم الهاتف" />
                        <i class="fas fa-phone-alt icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.PhoneNumber)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
            </div> 

            <div class="col-lg-6 col-sm-12 form-first-col">                                                       
                <div class="mb-3 input-container">
                    <div class="d-flex">
                        <label for="inputPassword" class="fw-bold">كلمة المرور</label>
                        <InputText type="password" id="inputPassword"
                        @bind-Value="@adminRegiterationDTO.Password"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل كلمة المرور" />
                        <i class="fas fa-lock icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Password)" style=" text-align: start ; padding-right: 7rem; padding-top: 0.8rem ;" />
                </div>

                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="inputPassword" class="fw-bold"> تأكيد كلمة المرور </label>
                        <InputText type="password" id="ConPassword"
                        @bind-Value="@adminRegiterationDTO.ConfirmPassword"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل تأكيد كلمة المرور" />
                        <i class="fas fa-lock icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.ConfirmPassword)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
                
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="inputPassword" class="fw-bold">العمر </label>
                        <InputNumber type="password" id="ConPassword"
                        @bind-Value="@adminRegiterationDTO.Age"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل عمرك" />
                        <i class="fas fa-phone-alt icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Age)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
              
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="inputPassword" class="fw-bold"> العنوان </label>
                        <InputText type="password" id="ConPassword"
                        @bind-Value="@adminRegiterationDTO.Address"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل العنوان" />
                        <i class="fas fa-lock icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Address)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
                <div class="submit-btn-container"><button type="submit" class="mb-2 btn btn-lg btn-block fw-bold button  ">Finish</button></div>
            </div>


        </EditForm>

    </div>
</div>

@* 
<div class="container-signup">
    <EditForm Model="@adminRegiterationDTO" class="form-signup">
        <DataAnnotationsValidator/>
    

        <label class="fw-bold">First Name </label>
        <div class="mb-2 input-container">
            <InputText
                   id="fname"
            @bind-Value="@adminRegiterationDTO.FirstName"
                   name="Fname"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your first Name"
                   />
            <i class="fas fa-user icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.FirstName)" style="text-align:center" />


        <label class="fw-bold">Last Name</label>
        <div class="mb-2 input-container">
            <InputText
                   id="lname"
            @bind-Value="@adminRegiterationDTO.LastName"
                   name="Lname"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your last Name"
                   />
            <i class="fas fa-user icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.LastName)" style="text-align:center" />

        <label for="inputEmail" class="fw-bold"> Email Address </label>
        <div class="input-container mb-4">
            <InputText id="inputEmail"
            @bind-Value="@adminRegiterationDTO.Email"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                       placeholder="Enter your email"
                       autofocus />
            <i class="fas fa-envelope icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.Email)" style="text-align:center" />


        <label class="fw-bold">User Name</label>
        <div class="mb-2 input-container">
            <InputText id="lname"
            @bind-Value="@adminRegiterationDTO.UserName"
                       name="Lname"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                       placeholder="Enter your last Name" />
            <i class="fas fa-user icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.UserName)" style="text-align:center" />



        <label for="inputPassword" class="fw-bold"> Password </label>
        <div class="mb-3 input-container">
            <InputText id="inputPassword"
            @bind-Value="@adminRegiterationDTO.Password"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                       placeholder="Enter your password" />
            <i class="fas fa-lock icon"></i>
           
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.Password)" style="text-align:center" />

        <label for="inputPassword" class="fw-bold"> Confirm Password </label>
        <div class="mb-4 input-container">
            <InputText id="ConPassword"
            @bind-Value="@adminRegiterationDTO.ConfirmPassword"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                       placeholder="Enter your password" />
            <i class="fas fa-lock icon"></i>       
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.ConfirmPassword)" style="text-align:center" />


        <label class="fw-bold">Age</label>
        <div class="mb-2 input-container">
            <InputNumber
                   id="num"
            @bind-Value="@adminRegiterationDTO.Age"
                   name="Age"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your Age"
                   />
            <i class="fas fa-user-friends icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.Age)" style="text-align:center" />

        <label class="fw-bold">Phone</label>
        <div class="mb-2 input-container">
            <InputText
                   id="Phone"
            @bind-Value="@adminRegiterationDTO.PhoneNumber"
                   name="Phone"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your Phone"
                   />
            <i class="fas fa-phone-alt icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.PhoneNumber)" style="text-align:center" />


        <label class="fw-bold">Address</label>
        <div class="mb-2 input-container">
            <InputText id="Phone"
            @bind-Value="@adminRegiterationDTO.Address"
                       name="Phone"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                       placeholder="Enter your Address" />
            <i class="fas fa-phone-alt icon"></i>
        </div>
        <ValidationMessage For="@(() => adminRegiterationDTO.Address)" style="text-align:center" />


      

        <button type="submit"
                class="mb-2 btn btn-lg btn-block fw-bold button"
                @onclick="RegisterNewAdmin">
            Finish
        </button>
    </EditForm>
</div>
 *@
@code {
    // [Inject]
    // public IJSRuntime navjs { get; set; }
    // [Inject]
    // public IUserservice userservice { get; set; }
    [Inject]
    public NavigationManager navigat { get; set; }

    public ClaimsPrincipal claimsPrincipal { get; set; } = new ClaimsPrincipal();
    public AdminRegiterationDTO adminRegiterationDTO { get; set; } = new AdminRegiterationDTO();

    public int MyProperty { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        //await navjs.InvokeVoidAsync("hidenave");
    }
    public async void RegisterNewAdmin()
    {
        var response = _adminService.AddAdmin(adminRegiterationDTO);
        navigat.NavigateTo("/mainpageadmin");
    } 
    public async void ShowInvalidModal()
    {
        // var response = _adminService.AddAdmin(adminRegiterationDTO);
        // navigat.NavigateTo("/mainpageadmin");
    }

}
