@page "/addNewDoctor"
@inject IAdminService _adminService
@inject ICategoryService _categoryService
@layout MainLayoutAdmin
@using Microsoft.JSInterop


<h1 class="h3 mb-0 fw-bold text-center color-text form-title">
    SignUp
</h1>
<div class="container-signup">
    @* <div class="row"> *@
        <EditForm Model="@doctorRegisterationByAmdinDTO" class="add-doctor-form row" style="direction:rtl">
            <DataAnnotationsValidator />                                 
            <div class="col-6">
                <div class="mb-2 input-container">
                <label class="fw-bold"> إسم الطبيب</label>
                <i class="fas fa-user icon"></i>
                    <InputText id="fname"
                    @bind-Value="@doctorRegisterationByAmdinDTO.UserName"
                               style="padding-left:3rem;"
                               class="form-control input_i"
                               placeholder="أدخل الأسم الأول" />
                </div>
                <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.UserName)" style="text-align:center" />

                <div class="mb-3 input-container">
                <label for="inputPassword" class="fw-bold">كلمة المرور</label>
                    <InputText type="password" id="inputPassword"
                    @bind-Value="@doctorRegisterationByAmdinDTO.Password"
                               style="padding-left:3rem;"
                               class="form-control input_i"
                           placeholder="أدخل كلمة المرور" />
                    <i class="fas fa-lock icon"></i>
                    @*<span class="span-eye">
                    <i class="fas fa-eye"></i>
                    </span>*@
                </div>
                <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.Password)" style="text-align:center" />

                <div class="mb-4 input-container">
                <label for="inputPassword" class="fw-bold"> تأكيد كلمة المرور </label>
                    <InputText type="password" id="ConPassword"
                    @bind-Value="@doctorRegisterationByAmdinDTO.ConfirmPassword"
                               style="padding-left:3rem;"
                               class="form-control input_i"
                           placeholder="دخل تأكيد كلمة المرور" />
                    <i class="fas fa-lock icon"></i>                  
                </div>
                <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.ConfirmPassword)" style="text-align:center" />
                   
                <div class="mb-4 input-container" style="position: relative; max-height: 150px; overflow-y: auto;">
                <label for="inputPassword" class="fw-bold"> التخصص </label>
                    <InputSelect @bind-Value="doctorRegisterationByAmdinDTO.CategoryId" class="form-control" style="padding-left: 3rem" size="6">
                        <option>إختر تخصص</option>
                        @foreach (var categoryDTO in categoryDTOs)
                        {
                            <option value="@categoryDTO.Id">@categoryDTO.Name</option>
                        }
                    </InputSelect>
                </div>
                <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.CategoryId)" style="text-align:center" />

            </div>

        <div class="col-6 form-second-col ">
            <h3>أدخل تاريخ بداية ونهاية الإشتراك</h3>        
            @* <div class="d-flex"> *@
                <div>
                    <div class="mb-4 input-container sub-input-container">
                    <label for="start-sub" class="fw-bold sub-label">تاريخ بداية الإشتراك</label>
                        <InputDate id="start-sub"
                        @bind-Value="@doctorRegisterationByAmdinDTO.StartSubscriptionDate"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="Enter your password" />
                        <i class="fas fa-lock icon"></i>
                        @* <span class="span-eye-confirm">
                        <i class="fas fa-eye"></i>
                        </span>*@
                    </div>
                    <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.StartSubscriptionDate)" style="text-align:center" />
                </div>
                <div>
                <div class="mb-4 input-container sub-input-container">
                    <label for="end-sub" class="fw-bold sub-label z">تاريخ نهاية الإشتراك</label>
                        <InputDate id="end-sub"
                        @bind-Value="@doctorRegisterationByAmdinDTO.EndSubscriptionDate"
                                   style="padding-left:3rem;"
                                   class="form-control input_i" />
                        <i class="fas fa-lock icon"></i>
                       
                    </div>
                    <ValidationMessage For="@(() => doctorRegisterationByAmdinDTO.EndSubscriptionDate)" style="text-align:center" />
                </div>
                <div><button type="submit"class="mb-2 btn btn-lg btn-block fw-bold button"@onclick="RegisterNewDoctor">Finish</button></div>
            @*</div>*@
        </div>

           
        </EditForm>

    @* </div>*@
</div>
@code {
    
    public NavigationManager navigat { get; set; }

    public List<CategoryDTO> categoryDTOs { get; set; } = new List<CategoryDTO>();
    public DoctorRegisterationByAmdinDTO doctorRegisterationByAmdinDTO { get; set; } = new DoctorRegisterationByAmdinDTO();

    public int MyProperty { get; set; }

    protected override async void OnInitialized()
    {
        categoryDTOs = await _categoryService.getallcategory();
        StateHasChanged();
        base.OnInitialized();
    }

    // protected override async void OnAfterRender(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         categoryDTOs = await _categoryService.getallcategory();

    //     }
    //     //await navjs.InvokeVoidAsync("hidenave");
    // }
    public async void RegisterNewDoctor()
    {
        var response = _adminService.AddDoctor(doctorRegisterationByAmdinDTO);
        navigat.NavigateTo("/mainpageadmin");
    }
}
