@page "/editAdmin/{id}"
@inject IAdminService _adminService
@layout MainLayoutAdmin


@* <h1>@claimsPrincipal.Identity.Name</h1> *@
@* <h1>@ClaimsPrincipal.Current.Identity.Name</h1>
 *@

<div class="main-container">
    <h1 class="h3 mb-0 fw-bold text-center color-text form-title">
        تعديل بيانات أدمن 
    </h1>
    <div class="container-signup">
        @* <div class="row"> *@
        <EditForm Model="@adminRegiterationDTO" class="add-doctor-form row" style="direction:rtl" OnValidSubmit="UpdateAdminProfile" OnInvalidSubmit="ShowInvalidModal">
            <DataAnnotationsValidator />
            <div class="col-lg-6 col-sm-12 form-first-col">
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold" for="fname"> الإسم الأول  </label>
                        <InputText id="fname"
                        @bind-Value="@adminRegiterationDTO.FirstName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأول" />
                        <i class="fas fa-user icon"></i>

                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.FirstName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div> 
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold" for="lname"> الإسم الأخير  </label>
                        <InputText id="lname"
                        @bind-Value="@adminRegiterationDTO.LastName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأخير" />
                        <i class="fas fa-user icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.LastName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold" for="user-name"> إسم المستخدم</label>
                        <InputText id="user-name"
                        @bind-Value="@adminRegiterationDTO.UserName"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل إسم المستخدم" />
                        <i class="fas fa-user icon"></i>

                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.UserName)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>
                <div class="mb-2 input-container">
                    <div class="d-flex">
                        <label class="fw-bold" for="email"> الإيميل</label>
                        <InputText id="email"
                        @bind-Value="@adminRegiterationDTO.Email"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل الإسم الأخير" />
                        <i class="fas fa-envelope icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Email)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem ;" />
                </div>              
            </div> 

            <div class="col-lg-6 col-sm-12 form-first-col">
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="phone" class="fw-bold"> رقم الهاتف </label>
                        <InputText id="phone" @bind-Value="@adminRegiterationDTO.PhoneNumber"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل رقم الهاتف" />
                        <i class="fas fa-phone-alt icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.PhoneNumber)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="age" class="fw-bold">العمر </label>
                        <InputNumber id="age"
                        @bind-Value="@adminRegiterationDTO.Age"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل عمرك" />
                        <i class="fas fa-phone-alt icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Age)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
              
                <div class="mb-4 input-container">
                    <div class="d-flex">
                        <label for="address" class="fw-bold"> العنوان </label>
                        <InputText  id="address"
                        @bind-Value="@adminRegiterationDTO.Address"
                                   style="padding-left:3rem;"
                                   class="form-control input_i"
                                   placeholder="أدخل العنوان" />
                        <i class="fas fa-lock icon"></i>
                    </div>
                    <ValidationMessage For="@(() => adminRegiterationDTO.Address)" style=" text-align: start ; padding-right: 7rem ; padding-top: 0.8rem;" />
                </div>
                <div class="submit-btn-container"><button type="submit" class="mb-2 btn btn-lg btn-block fw-bold button  ">Finish</button></div>
            </div>


        </EditForm>

    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }
    [Inject]
    public NavigationManager navigat { get; set; }

    public ClaimsPrincipal claimsPrincipal { get; set; } = new ClaimsPrincipal();
    public AdminRegiterationDTO adminRegiterationDTO { get; set; } = new AdminRegiterationDTO();


    public int MyProperty { get; set; }

    protected override  async Task OnInitializedAsync()
    {
        adminRegiterationDTO = await _adminService.GetAdminByIdAsync(Id);

    }

    protected override async void OnAfterRender(bool firstRender)
    {
        //await navjs.InvokeVoidAsync("hidenave");
    }
    public async void UpdateAdminProfile()
    {
        AdminUpdatingProfileDTO adminUpdatingProfileDTO = new AdminUpdatingProfileDTO()
            {
                Id = adminRegiterationDTO.Id,
                FirstName = adminRegiterationDTO.FirstName,
                LastName = adminRegiterationDTO.LastName,
                UserName = adminRegiterationDTO.UserName,
                Email = adminRegiterationDTO.Email,
                PhoneNumber = adminRegiterationDTO.PhoneNumber,
                Address = adminRegiterationDTO.Address,
                Age = adminRegiterationDTO.Age,

            };
        var response = await _adminService.UpdateAdminAsync(adminUpdatingProfileDTO);
        navigat.NavigateTo("/mainpageadmin");
    } 
    public async void ShowInvalidModal()
    {
        // var response = _adminService.AddAdmin(adminRegiterationDTO);
        // navigat.NavigateTo("/mainpageadmin");
    }

}
